@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
}

/*-----Navbar-----*/
.logo {
  width: 16.25rem;
}

/*-----Menu Links-----*/

nav a.nav-link {
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 0.60rem;
  margin-right: 0.60rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange)
}